html{
    font-family: 'ZCOOL XiaoWei', serif !important;
  }
  .first {
    background-image: url(https://thumbs.dreamstime.com/b/campo-de-f%C3%BAtbol-de-la-arena-del-estadio-de-la-noche-57408942.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    color: white;
  }
  
  .first h1 {
    color: white;
  }
  
  .firt a {
    color: white !important;
  }
  .social li{
    font-size: 17px;
    display: inline-block;
    float:right;
    padding-right: 1%;
  }
  
  li a{
    color: white !important;
  }
  
  nav{
    margin-top: 6%;
    border-top: 1px solid white;
  }
   .pink{
     background-color: #b62b52;
   }
  
   .green{
     background-color: #769d2a;
   }
  
   .teal {
      background-color: #01a0a6;
   }
  
   a h2 {
     color: white;
   }
  
  a:hover {
   text-decoration: none!important;
    }
  
    .first .pink, .first .pic, .first .green{
     padding-right: 0px !important;
     padding-left: 0px!important;
    }
  
    .green a, .pink a, .teal a{
      padding: 6%;
    }
  
    .message{
      background-color: #222828;
      color: #fcfdff;
      padding: 3%;
    }
  
    .message a{
      color:black!important;
      background-color: white;
    }
  
    .message a{
      text-decoration: none!important;
  
    }
  .message button {
    background-color: white;
    padding: 1%;
    border-radius: 9%;
  }

  .what_to_do h2{
    padding: 2%;
    color: black;
  }
  .what_to_do i{
      font-size: 40px;
  }
  .what_to_do div {
      padding: 3%;
      color: #222828;
  }

  
  .what_to_do button a{
    color:  #222828;
    font-variant: all-petite-caps;
  }
  
   .five{
     padding: 3%;
   }
  
   .five img{
     width: 100%;
   }
  
   .six {
     background-color: #222828;
     color:white;
   }
  
  .six i{
    font-size: 40px;
    text-align: center;
    padding: 5%;
  }
  
  .six p{
    padding: 0 30% 0 30%;
  }
  
  .people{
    border-top: 1px solid white;
  }
  
  .people img{
    padding: 6%;
    width: 100%;
    height: 300px;
  }
  
  footer {
    background-color: black;
    color:white;
    padding: 4%;
  }
  