<body>

    <div class="layout-topbar">
        <a class="layout-topbar-logo" routerLink="/pages/inicio">
            <img src="../../../assets/layout/images/logo-dark.svg" alt="logo">
            <span>SAKAE</span>
        </a>
        <div class="layout-topbar-menu">
           <a href="/#/pages/login" class="p-link layout-topbar-button">
               <i class="pi pi-user" ></i>
               <span>Profile</span>
               
           </a>
       </div>
       <span>Login</span>
    </div>
</body>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
     integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
     <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei" rel="stylesheet">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
   </head>
   <body>
      <div class="first">
        <div class="container">
            <h1>Soccer Stats</h1>
            <nav class="navbar navbar-expand-sm">

           </nav>
         </div>
         <div class="container">
             <div class="row">
                   <div class="col-12 col-md-4 col-lg-4 col-xl-6 pic">
                        <a>
                            <h2> Calificacion al 100</h2>
                        </a>
                        <br>
                         Somos una empresa nueva que se dedica a la recolección y presentación de datos estadísticos
                         a nivel internacional sobre partidos de futbol. Brindamos la información de la manera más 
                         sencilla y amigable para la correcta experiencia del usuario dentro de la plataforma.
                         En esta plataforma podrá encontrar registro de partidos anteriores, datos estadísticos de 
                         los partidos, sección de noticias y un algoritmo de predicción para los usuarios con membresía.
                    </div>
                    
                   <div class="col-12 col-md-4 col-lg-4 col-xl-6 ">
                    <video autoplay controls loop width="600" height="300">
                        <source src="../assets/video/Sakai.mp4" type="video/mp4" /> 
                        <source src="../assets/video/Sakai.mp4" type="video/webm" /> 
                        <source src="../assets/video/Sakai.mp4" type="video/ogg" /> 
                   </video>

                        <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE8JJE18UA&#x2F;watch?utm_content=DAE8JJE18UA&amp;utm_medium=embeds&amp;">Soccer Stats</a>
                    </div>

              </div>
         </div>
      </div>
      
      <div class="what_to_do container">
           <div class="row container">
                <div class="col-12 col-md-4 col-lg-4 col-xl-6 text-center">
                    <h3>Misión</h3>
                    <p> Ofrecer datos estadísticos deportivos de los partidos en tiempo real con la mayor calidad.
                        Brindando la mayor simpleza y generando el mayor valor al cliente.</p>
                </div>
                <div class="col-12 col-md-4 col-lg-4 col-xl-6 text-center">
                   <h3>Visión</h3>
                   <p> Ser una de las mejores empresas de recolección y presentación de datos estadísticos deportivos
                        a nivel internacional. </p>
                </div>
            </div>
      </div>

      <div class="message">
        <div class="container">
            <h2 class="text-center">Contáctanos</h2>
            <p class="text-center">Grupo 11 <br> Software Avanzado <br> Universidad San Carlos de Guatemala</p>
        </div>
    </div>
   </body>
