<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/pages/inicio">
        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">
        <span>SAKAE</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <a routerLink="/pages/profile" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
           
        </a>
        <p> Perfil </p>
        <a routerLink="" class="p-link layout-topbar-button" (click)="cerrarsesion()">
            <i class="pi pi-fw pi-sign-out"></i>
            
        </a>
        <p>Cerrar Sesión</p>
        
    </div>
