<div class="grid">
    <div class="col-12">
        <div class="card">
			<h5>Bitacora admin</h5>
			<button pButton pRipple type="button" label="Descargar PDF" class="p-button-warning" (click)="descargarpdf()"></button>
			<hr>
			<table id="r1">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Rol Afectado</th>
						<th>Acción</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data;">
						<td>{{item.user_name}}</td>
						<td>{{item.user_lastname}}</td>
						<td>{{item.user_role.name}}</td>
                        <td>{{item.action}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.description}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>
