<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Transferir jugador</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label >Jugador</label>
                    <p-dropdown [options]="data_j" optionLabel="name" [(ngModel)]="seleccionado.id_player"></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label >Equipo Actual</label>
                    <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="seleccionado.id_team_origin"></p-dropdown>
                </div>  
                <div class="field col-12 md:col-3">
                    <label >Equipo Nuevo</label>
                    <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="seleccionado.id_team_destination"></p-dropdown>
                </div>
                
                <div class="field col-12 md:col-3">
					<label>Fecha de inicio</label>
					<input pInputText [(ngModel)]="seleccionado.start_date" type="date" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Fecha de fin</label>
					<input pInputText [(ngModel)]="seleccionado.end_date" type="date" />
				</div>
                <div class="field col-12 md:col-6">
					<button pButton pRipple type="button" label="Transferir Jugador" class="p-button-success mr-2 mb-2" (click)="tranferir_j()"></button>
				</div>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Transferir director tecnico</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label >Director tecnico</label>
                    <p-dropdown [options]="data_dt" optionLabel="name" [(ngModel)]="seleccionado_dt.id_coach"></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label >Equipo Actual</label>
                    <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="seleccionado_dt.id_team_origin"></p-dropdown>
                </div>  
                <div class="field col-12 md:col-3">
                    <label >Equipo Nuevo</label>
                    <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="seleccionado_dt.id_team_destination"></p-dropdown>
                </div>
                
                <div class="field col-12 md:col-3">
					<label>Fecha de inicio</label>
					<input pInputText [(ngModel)]="seleccionado_dt.start_date" type="date" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Fecha de fin</label>
					<input pInputText [(ngModel)]="seleccionado_dt.end_date" type="date" />
				</div>
                <div class="field col-12 md:col-6">
					<button pButton pRipple type="button" label="Transferir Director tecnico" class="p-button-success mr-2 mb-2" (click)="tranferir_dt()"></button>
				</div>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Incidencia</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label >Jugador</label>
                    <p-dropdown [options]="data_j" optionLabel="name" [(ngModel)]="seleccionado_i.id_player"></p-dropdown>
                </div>
                <div class="field col-12 md:col-3">
                    <label >Partido</label>
                    <p-dropdown [options]="data_p" optionLabel="name" [(ngModel)]="seleccionado_i.id_game"></p-dropdown>
                </div>  
                <div class="field col-12 md:col-3">
                    <label >Tipo</label>
                    <p-dropdown [options]="tipo_i" optionLabel="name" [(ngModel)]="seleccionado_i.id_type"></p-dropdown>
                </div>
                
                <div class="field col-12 md:col-3">
					<label>Descripción</label>
					<input pInputText [(ngModel)]="seleccionado_i.description" type="text" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Minuto</label>
					<input pInputText [(ngModel)]="seleccionado_i.minute" type="text" />
				</div>
                <div class="field col-12 md:col-6">
					<button pButton pRipple type="button" label="Agregar incidencia" class="p-button-success mr-2 mb-2" (click)="new_incidencia()"></button>
				</div>

            </div>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Noticia</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">
                    <label >Equipo</label>
                    <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="sle_noticia.id_team"></p-dropdown>
                </div>
                <div class="field col-12 md:col-6">
					<label>Titulo</label>
					<input pInputText [(ngModel)]="sle_noticia.title" type="text" />
				</div> 
                
                <div class="field col-12 md:col-3">
					<label>Descripción</label>
					<input pInputText [(ngModel)]="sle_noticia.description" type="text" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Fecha</label>
					<input pInputText [(ngModel)]="sle_noticia.date" type="date" />
				</div>
                <div class="field col-12 md:col-6">
					<button pButton pRipple type="button" label="Agregar noticia" class="p-button-success mr-2 mb-2" (click)="new_noticia()"></button>
				</div>

            </div>
        </div>
    </div>
</div>
