<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Modulo de descarga</h4>
            <hr>
            <p-dropdown [options]="data_reportes" optionLabel="name" [(ngModel)]="sle_rp_pdf"></p-dropdown>
            <button pButton pRipple type="button" label="Descargar PDF" class="p-button-warning" (click)="descargarpdf()"></button>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h4>Jugadores o Técnico de X equipo</h4>
            <hr>
            <p-dropdown [options]="JugadoresDT" optionLabel="name" [(ngModel)]="Seleccionado2"></p-dropdown>
            <p-dropdown [options]="Equipos" optionLabel="name" [(ngModel)]="Seleccionado1"></p-dropdown>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_Reporte1()"></button>
			<table id=r1>
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Posición</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r1;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.position}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Jugadores o Técnico mayores a X años</h4>
            <hr>
			<button pButton pRipple type="button" label="Jugador" class="p-button-success" (click)="set_jugador()"></button>
            <button pButton pRipple type="button" label="Técnico" class="p-button-success" (click)="set_tecnico()"></button>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_Reporte2()"></button>
			<input pInputText [(ngModel)]="Seleccionado3" type="number" />

			<table id=r2>
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Posición</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r2;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.position}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Jugadores o Técnico menores a X años
            </h4>
            <hr>
			<button pButton pRipple type="button" label="Jugador" class="p-button-success" (click)="set_jugador()"></button>
            <button pButton pRipple type="button" label="Técnico" class="p-button-success" (click)="set_tecnico()"></button>
            <button pButton pRipple type="button" label="Buscar Menor" class="p-button-success" (click)="get_Reporte3()"></button>
            <input pInputText [(ngModel)]="Seleccionado4" type="number" />
			
			<table id=r3>
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Posición</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r3;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.position}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Equipos con X años de antigüedad </h4>
            <hr>
			<input pInputText [(ngModel)]="Seleccionado5" type="number" />
			<button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_Reporte4()"></button>
            
            <table id=r4>
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r4;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
	<div class="col-12">
        <div class="card">
            <h4>Estadios con capacidad menor o igual a X</h4>
            <hr>
			<input pInputText [(ngModel)]="Seleccionado6" type="number" />
			<button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_Reporte5()"></button>
            
           <table id=r5>
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Fecha de nacimiento</th>
                        <th>Edad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r5;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.birth_date}}</td>
                        <td>{{item.age}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Partidos donde hubo al menos X goles</h4>
            <hr>
			<input pInputText [(ngModel)]="Seleccionado7" type="number" />
			<button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_Reporte6()"></button>
            
            <table id=r6>
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Fecha de nacimiento</th>
                        <th>Edad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r6;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.birth_date}}</td>
                        <td>{{item.age}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>
