.profile-card {
    max-width: 100%;
    margin-bottom: 8px;
    border-radius:46px; 
    // border: 1px solid #4935fd;
    box-shadow: 4px 5px 25px rgba(56, 20, 218, 0.329);
  }

  .imagestyle{
      border-radius: 30px;
      // object-fit: cover;
      width: 100%;
      max-width: fit-content;
      max-height: fit-content;
  }

  .wfull{
      width: 100%;
      margin-left: auto;
    //   height: 150%;
  }

  .wfull2{
    width: 90%;
    margin-left: 0%;
  //   height: 150%;
}
.example-button-row {
    display: table-cell;
    width: 490px;
  }
.textocentrado{
    margin-left: 0%;
    margin-right: 34%;
    // justify-content: center;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin-left: 30%;
}
.example-full-width {
  width: 80%;
  height: 80%;
}