<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/pages/inicio">
        <img src="../../../assets/layout/images/logo-dark.svg" alt="logo">
        <span>SAKAE</span>
    </a>
    <div class="layout-topbar-menu">
       <a href="/#/pages/login" class="p-link layout-topbar-button">
           <i class="pi pi-user" ></i>
           <span>Profile</span>
           
       </a>
   </div>
   <span>Cerrar Sesión</span>
</div>

<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden wfull">
    <br><div class="wfull2 grid justify-content-center p-2 lg:p-0 " style="min-width:80%">
        <div class="wfull2 col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <br><div class="text-center mb-5"><br>
                    <mat-card class="profile-card">
                        <br><br>
                        <mat-card-title-group class="textocentrado">
                          <div>
                          <img mat-card-xl-image [src]="usuario.photo" alt="Foto Perfil" class="imagestyle" />
                        </div>
                        </mat-card-title-group>
                        <mat-card-content>
                            <br>
                            <hr>
                            <form class="example-form">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.name}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.name" type="text" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo nombre de usuario..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.lastname}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.lastname" type="text" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo apellido de usuario..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.email}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.email" type="text" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo email..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.password}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.password" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nueva contraseña..." type="password" />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.phone}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.phone" type="number" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo número de teléfono..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.address}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.address" type="text" [ngModelOptions]="{standalone: true}" placeholder="Ingrese nuevo dirección..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.birth_date}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.birth_date" [ngModelOptions]="{standalone: true}" type="date" placeholder="Ingrese nueva fecha..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.age}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.age" [ngModelOptions]="{standalone: true}" type="number" placeholder="Ingrese nueva edad..." />
                                  </mat-form-field>
                                  <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label style="font-size: 20px; color: black;">{{usuario.country}}</mat-label>
                                    <input matInput [(ngModel)]="seleccionado.age" [ngModelOptions]="{standalone: true}" type="number" placeholder="Ingrese nuevo pais..." />
                                  </mat-form-field>
                                  <hr>
                                  <label class="block text-900 text-xl font-medium mb-2">Cambiar foto de perfil</label>
                    <input id="file-upload" type="file"  class="btn btn-primary btn-user btn-block" placeholder="Change profile picture" (change)="onUpload($event)" accept="image/*"/>


                            </form>
                            <br><br>
                            <br><br>
                          <!-- <div class="text-center example-button-row"> -->
                            <button mat-stroked-button (click)="eliminar_user()">Eliminar Cuenta</button>
                            <button mat-stroked-button color="primary" (click)="update_user()">Guardar</button>
                            <button mat-stroked-button>Cancelar</button>
                          <!-- </div> -->
                        </mat-card-content>
                      </mat-card>
                </div>
            
                <div class="w-full md:w-10 mx-auto">
                    
                </div>
            </div>
        </div>
    </div>
</div>