<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Usuarios</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label>Nombre</label>
					<input pInputText [(ngModel)]="seleccionado.name" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label>Lastname</label>
					<input pInputText [(ngModel)]="seleccionado.lastname"  type="text" />
				</div>

				<div class="field col-12 md:col-6">
					<label >Correo</label>
					<input pInputText [(ngModel)]="seleccionado.email"  type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label >Telefono</label>
					<input pInputText [(ngModel)]="seleccionado.phone"  type="number" />
				</div>
				<div class="field col-12 md:col-3">
					<label >Genero</label>
					<input pInputText [(ngModel)]="seleccionado.gender"  type="text" />
				</div>

				<div class="field col-12 md:col-6">
					<label >Dirección</label>
					<input pInputText [(ngModel)]="seleccionado.address"  type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Contraseña</label>
					<input pInputText [(ngModel)]="password" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Fecha de nacimiento</label>
					<input pInputText [(ngModel)]="seleccionado.birth_date" type="date" />
				</div>

				<div class="field col-12 md:col-3">
					<label >Edad</label>
					<input pInputText [(ngModel)]="seleccionado.age" type="number" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Rol</label>
					<p-dropdown [options]="Rol_Drop" optionLabel="name" [(ngModel)]="seleccionado.id_rol"></p-dropdown>
				</div>
				<div class="field col-12 md:col-6">
					<label >Descripción</label>
					<input pInputText [(ngModel)]="Descripcion" type="text" />
				</div>

				<div class="field col-12 md:col-6">
					<button pButton pRipple type="button" label="Crear usuario" class="p-button-secondary mr-2 mb-2" (click)="new_user()"></button>
				</div>
				<div class="field col-12 md:col-6">
					<button pButton pRipple type="button" label="Modificar usuario" class="p-button-secondary mr-2 mb-2" (click)="update_user()"></button>
				</div>

			</div>
		</div>
	</div>
    <div class="col-12">
        <div class="card">
			<h5>Usuarios en el sistema</h5>
			<hr>
			<table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Rol</th>
						<th>Estado</th>
					</tr>
				</thead>
				<tbody >
					<tr *ngFor="let item of usuarios;">
						<td>{{item.name}}</td>
						<td>{{item.email}}</td>
						<td>{{item.id_rol.name}}</td>
						<td>
							<p-dropdown [options]="Estados" optionLabel="name" [(ngModel)]="item.id_status"></p-dropdown>
						</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info mr-2 mb-2" (click)="seleccion_data(item)"></button>
							<button pButton pRipple type="button" label="Confirmar Estado" class="p-button-success mr-2 mb-2" (click)="update_status(item)"></button>
							<input pInputText placeholder="Observaciones...." [(ngModel)]="descripcion_mensaje"  type="text" />
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>
