<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12 mt-5 xl:mt-0 text-center">
            <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Sakai logo" class="mb-5" style="width:81px; height:60px;">
        </div>
        <div class="col-12 xl:col-6" style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4" style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <div class="text-900 text-3xl font-medium mb-3">Creación de Usuario</div>
                </div>
            
                <div class="w-full md:w-10 mx-auto">
                    <label class="block text-900 text-xl font-medium mb-2">Nombres</label>
                    <input type="text" [(ngModel)]="data.name" pInputText class="w-full mb-3" style="padding:1rem;">                    

                    <label class="block text-900 text-xl font-medium mb-2">Apellidos</label>
                    <input type="text" [(ngModel)]="data.lastname" pInputText class="w-full mb-3" style="padding:1rem;">
            
                    <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                    <p-password id="password1" [(ngModel)]="data.password" placeholder="****" [toggleMask]="true" styleClass="w-full mb-3"></p-password>

                    <label for="email1" class="block text-900 text-xl font-medium mb-2">Correo Electronico</label>
                    <input id="email1" type="text" [(ngModel)]="data.email" pInputText class="w-full mb-3" style="padding:1rem;">

                    <label class="block text-900 text-xl font-medium mb-2">Telefono</label>
                    <input type="number" [(ngModel)]="data.phone" pInputText class="w-full mb-3" style="padding:1rem;"> 

                    <label class="block text-900 text-xl font-medium mb-2">Género</label>
                    <input type="text" [(ngModel)]="data.gender" pInputText class="w-full mb-3" style="padding:1rem;"> 

                    <label class="block text-900 text-xl font-medium mb-2">Fecha de Nacimiento</label>
                    <input type="date" [(ngModel)]="data.birth_date" pInputText class="w-full mb-3" style="padding:1rem;"> 
            
                    <label class="block text-900 text-xl font-medium mb-2">Dirección</label>
                    <input type="text" [(ngModel)]="data.address" pInputText class="w-full mb-3" style="padding:1rem;"> 
            
                    <label class="block text-900 text-xl font-medium mb-2">Pais</label>
					<p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="data.id_country"></p-dropdown>
                    
                    <hr>
                    <label class="block text-900 text-xl font-medium mb-2">Foto de perfil</label>
                    <input id="file-upload" type="file"  class="btn btn-primary btn-user btn-block" placeholder="Add profile picture" (change)="onUpload($event)" accept="image/*"/>

                    <hr>
                    <div class="flex align-items-center justify-content-between mb-5">
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" (click)="regresar()">Ya tienes cuenta?</a>
                    </div>

                    <button pButton pRipple label="Sign up" class="w-full p-3 text-xl" (click)="registrar()"></button>
                </div>
            </div>
        </div>
    </div>
</div>