<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Estadios</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label>Nombre</label>
					<input pInputText [(ngModel)]="new_estadio.name" type="text" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Fecha de inauguración</label>
					<input pInputText [(ngModel)]="new_estadio.foundation_date" type="date" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Capacidad</label>
					<input pInputText [(ngModel)]="new_estadio.capacity"  type="nummber" />
				</div>

                <div class="field col-12 md:col-3">
					<label >Pais</label>
					<p-dropdown [options]="sl_estadio" optionLabel="name" [(ngModel)]="new_estadio.id_country"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label >Dirección</label>
					<input pInputText [(ngModel)]="new_estadio.address"  type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label >Estado</label>
					<p-dropdown [options]="sl_estado" optionLabel="name" [(ngModel)]="new_estadio.status"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label >Foto</label>
                    <input id="file-upload" type="file"  class="btn btn-primary btn-user btn-block" placeholder="Add profile picture" (change)="onUpload($event)" accept="image/*"/>
				</div>

				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Crear estadio" class="p-button-success mr-2 mb-2" (click)="new_estadiobtn()"></button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Modificar estadio" class="p-button-info mr-2 mb-2" (click)="update_estadio()"></button>
				</div>
                <div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Eliminar estadio" class="p-button-warning mr-2 mb-2" (click)="delete_estadio()"></button>
				</div>

			</div>
            <hr>
            <h5>Listado de estadios</h5>
            <table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Fecha de inauguración</th>
						<th>Capacidad</th>
						<th>Pais</th>
                        <th>Dirección</th>
                        <th>Estado</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_estadio;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.foundation_date}}</td>
						<td>{{item.capacity}}</td>
                        <td>{{item.country}}</td>
                        <td>{{item.address}}</td>
                        <td>{{item.status}}</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info" (click)="seleccionar_estadio(item)" ></button>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h5>Equipos</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-3">
					<label>Nombre</label>
					<input pInputText [(ngModel)]="sle_equipo.name" type="text" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Fecha de inauguración</label>
					<input pInputText [(ngModel)]="sle_equipo.foundation_date" type="date" />
				</div>
                <div class="field col-12 md:col-3">
					<label >Pais</label>
					<p-dropdown [options]="sl_equipo" optionLabel="name" [(ngModel)]="sle_equipo.id_country"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label >Foto</label>
                    <input id="file-upload" type="file"  class="btn btn-primary btn-user btn-block" placeholder="Add profile picture" (change)="onUpload($event)" accept="image/*"/>
				</div>

				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Crear equipo" class="p-button-success mr-2 mb-2" (click)="new_equipo()"></button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Modificar equipo" class="p-button-info mr-2 mb-2" (click)="update_equipo()"></button>
				</div>
                <div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Eliminar equipo" class="p-button-warning mr-2 mb-2" (click)="delete_equipo()"></button>
				</div>

			</div>
            <hr>
            <h5>Listado de equipos</h5>
            <table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Fecha de inauguración</th>
						<th>Pais</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_equipo;">
						<th>{{item.id}}</th>
						<td>{{item.name}}</td>
						<td>{{item.foundation_date}}</td>
                        <td>{{item.country}}</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info" (click)="seleccionar_equipo(item)" ></button>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>

	<div class="col-12">
        <div class="card">
            <h5>Director Tecnico</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-3">
					<label>Nombre</label>
					<input pInputText [(ngModel)]="sle_dt.name" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Apellidos</label>
					<input pInputText [(ngModel)]="sle_dt.lastname" type="text" />
				</div>
                <div class="field col-12 md:col-6">
					<label>Fecha de nacimiento</label>
					<input pInputText [(ngModel)]="sle_dt.birth_date" type="date" />
				</div>

				<div class="field col-12 md:col-6">
					<label>Estado</label>
					<p-dropdown [options]="dt_status" optionLabel="name" [(ngModel)]="sle_dt.status"></p-dropdown>
				</div>
                <div class="field col-12 md:col-3">
					<label >Pais</label>
					<p-dropdown [options]="sl_dt" optionLabel="name" [(ngModel)]="sle_dt.id_country"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label >Foto</label>
                    <input id="file-upload" type="file"  class="btn btn-primary btn-user btn-block" placeholder="Add profile picture" (change)="onUpload($event)" accept="image/*"/>
				</div>

				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Crear director tecnico" class="p-button-success mr-2 mb-2" (click)="new_dt()"></button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Modificar director tecnico" class="p-button-info mr-2 mb-2" (click)="update_dt()"></button>
				</div>
                <div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Eliminar director tecnico" class="p-button-warning mr-2 mb-2" (click)="delete_dt()"></button>
				</div>

			</div>
            <hr>
            <h5>Listado de directores tecnicos</h5>
            <table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Fecha de nacimiento</th>
						<th>Estado</th>
						<th>Equipo</th>
						<th>Pais</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_dt;">
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
						<td>{{item.birth_date}}</td>
                        <td>{{item.status}}</td>
						<td>{{item.name_team}}</td>
						<td>{{item.country}}</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info" (click)="seleccionar_dt(item)" ></button>
						</td>
					</tr>
				</tbody>
			</table>
            
        </div>
    </div>

	<div class="col-12">
        <div class="card">
            <h5>Jugador</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-3">
					<label>Nombre</label>
					<input pInputText [(ngModel)]="sle_jugador.name" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Apellidos</label>
					<input pInputText [(ngModel)]="sle_jugador.lastname" type="text" />
				</div>
                <div class="field col-12 md:col-6">
					<label>Fecha de nacimiento</label>
					<input pInputText [(ngModel)]="sle_jugador.birth_date" type="date" />
				</div>

				<div class="field col-12 md:col-3">
					<label>Estado</label>
					<p-dropdown [options]="j_status" optionLabel="name" [(ngModel)]="sle_jugador.status"></p-dropdown>
				</div>
                <div class="field col-12 md:col-3">
					<label >Pais</label>
					<p-dropdown [options]="sl_j" optionLabel="name" [(ngModel)]="sle_jugador.id_nationality"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label >Posición</label>
					<p-dropdown [options]="j_posicion" optionLabel="name" [(ngModel)]="sle_jugador.position"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label >Foto</label>
                    <input id="file-upload" type="file"  class="btn btn-primary btn-user btn-block" placeholder="Add profile picture" (change)="onUpload($event)" accept="image/*"/>
				</div>

				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Crear jugador" class="p-button-success mr-2 mb-2" (click)="new_j()"></button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Modificar jugador" class="p-button-info mr-2 mb-2" (click)="update_j()"></button>
				</div>
                <div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Eliminar jugador" class="p-button-warning mr-2 mb-2" (click)="delete_j()"></button>
				</div>

			</div>
            <hr>
            <h5>Listado de jugadores</h5>
            <table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Fecha de nacimiento</th>
						<th>Pais</th>
						<th>Posición</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_j;">
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
						<td>{{item.birth_date}}</td>
						<td>{{item.nationality}}</td>
						<td>{{item.position}}</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info" (click)="seleccionar_j(item)" ></button>
						</td>
					</tr>
				</tbody>
			</table>
            
        </div>
    </div>

	<div class="col-12">
        <div class="card">
            <h5>Competencia</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-3">
					<label>Nombre</label>
					<input pInputText [(ngModel)]="sle_compe.name" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Tipo</label>
					<p-dropdown [options]="c_type" optionLabel="name" [(ngModel)]="sle_compe.type"></p-dropdown>
				</div>
                <div class="field col-12 md:col-3">
					<label>Año</label>
					<input pInputText [(ngModel)]="sle_compe.year" type="number" />
				</div>
                <div class="field col-12 md:col-3">
					<label >Pais</label>
					<p-dropdown [options]="sl_c" optionLabel="name" [(ngModel)]="sle_compe.id_country"></p-dropdown>
				</div>

				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Crear competición" class="p-button-success mr-2 mb-2" (click)="new_c()"></button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Modificar competición" class="p-button-info mr-2 mb-2" (click)="update_c()"></button>
				</div>
                <div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Eliminar competición" class="p-button-warning mr-2 mb-2" (click)="delete_c()"></button>
				</div>

			</div>
            <hr>
            <h5>Listado de competiciones</h5>
            <table>
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Año</th>
						<th>Tipo</th>
						<th>Pais</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_c;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.year}}</td>
						<td>{{item.type}}</td>
						<td>{{item.country}}</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info" (click)="seleccionar_c(item)" ></button>
						</td>
					</tr>
				</tbody>
			</table>
            
        </div>
    </div>

	<div class="col-12">
        <div class="card">
            <h5>Partido</h5>
            <hr>
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label>Fecha</label>
					<input pInputText [(ngModel)]="sle_partido.game_date" type="date" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Resultado Local</label>
					<input pInputText [(ngModel)]="sle_partido.result_local" type="number" />
				</div>
				<div class="field col-12 md:col-3">
					<label>Resultado Visitante</label>
					<input pInputText [(ngModel)]="sle_partido.result_visiting" type="number" />
				</div>

				<div class="field col-12 md:col-3">
					<label>Asistentes</label>
					<input pInputText [(ngModel)]="sle_partido.attendees" type="number" />
				</div>
                <div class="field col-12 md:col-6">
					<label>Estado</label>
					<p-dropdown [options]="p_status" optionLabel="name" [(ngModel)]="sle_partido.status"></p-dropdown>
				</div>
                <div class="field col-12 md:col-3">
					<label>Estadio (id)</label>
					<input pInputText [(ngModel)]="sle_partido.id_stadium" type="number" />
				</div>

				<div class="field col-12 md:col-3">
					<label>Equipo local (id)</label>
					<input pInputText [(ngModel)]="sle_partido.id_team_local" type="number" />
				</div>
                <div class="field col-12 md:col-3">
					<label>Equipo visitante (id)</label>
					<input pInputText [(ngModel)]="sle_partido.id_team_visiting" type="number" />
				</div>
                <div class="field col-12 md:col-6">
					<label>Competición (id)</label>
					<input pInputText [(ngModel)]="sle_partido.id_competition" type="number" />
				</div>

				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Crear partido" class="p-button-success mr-2 mb-2" (click)="new_p()"></button>
				</div>
				<div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Modificar partido" class="p-button-info mr-2 mb-2" (click)="update_p()"></button>
				</div>
                <div class="field col-12 md:col-3">
					<button pButton pRipple type="button" label="Eliminar partido" class="p-button-warning mr-2 mb-2" (click)="delete_p()"></button>
				</div>

			</div>
            <hr>
            <h5>Listado de partidos</h5>
            <table>
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Resultado</th>
						<th>Estado</th>
						<th>Equipo Local</th>
						<th>Equipo Visitante</th>
						<th>Competición </th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_p;">
						<td>{{item.game_date}}</td>
						<td>{{item.result_local}} | {{item.result_visiting}}</td>
						<td>{{item.status}}</td>
						<td>{{item.team_local}}</td>
						<td>{{item.team_visiting}}</td>
						<td>{{item.competition}}</td>
						<td>
							<button pButton pRipple type="button" label="Seleccionar" class="p-button-info" (click)="seleccionar_p(item)" ></button>
						</td>
					</tr>
				</tbody>
			</table>
            
        </div>
    </div>

</div>
