<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Modulo de descarga</h4>
            <hr>
            <p-dropdown [options]="data_reportes" optionLabel="name" [(ngModel)]="sle_rp_pdf"></p-dropdown>
            <button pButton pRipple type="button" label="Descargar PDF" class="p-button-warning" (click)="descargarpdf()"></button>
        </div>
    </div>

    <div class="col-12">
        <div class="card">
            <h4>Usuarios suscritos a X equipo</h4>
            <hr>
            <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="Seleccionado1"></p-dropdown>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_reporte1()"></button>
			<table id="r1">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r1;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Usuarios con o sin membresia</h4>
            <hr>
            <p-dropdown [options]="sl_r2" optionLabel="name" [(ngModel)]="Seleccionado2"></p-dropdown>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_reporte2()"></button>
			<table id="r2">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r2;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Usuarios que mas membresias han adquirido</h4>
            <hr>
			<table id="r3">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r3;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.count}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Usuarios que mas dinero han gastado</h4>
            <hr>
			<table id="r4">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r4;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.amount}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Usuarios de X pais </h4>
            <hr>
            <p-dropdown [options]="sl_r5" optionLabel="name" [(ngModel)]="Seleccionado5"></p-dropdown>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_reporte5()"></button>
			<table id="r5">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r5;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Usuarios de X genero</h4>
            <hr>
            <p-dropdown [options]="sl_r6" optionLabel="name" [(ngModel)]="Seleccionado6"></p-dropdown>
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_reporte6()"></button>
			<table id="r6">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r6;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Usuarios con al menos X años de edad</h4>
            <hr>
            <input pInputText [(ngModel)]="Seleccionado7" type="number" />
            <button pButton pRipple type="button" label="Buscar" class="p-button-success" (click)="get_reporte7()"></button>
			<table id="r7">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Fecha de nacimiento</th>
                        <th>Edad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r7;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.birth_date}}</td>
                        <td>{{item.age}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Empleados que MAS/MENOS noticias han publicado</h4>
            <hr>
            <button pButton pRipple type="button" label="Mas noticias" class="p-button-success" (click)="get_reporte8()"></button>
            <button pButton pRipple type="button" label="Menos noticias" class="p-button-success" (click)="get_reporte8_menos()"></button>
			<table id="r8">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r8;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.count}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <h4>Empleados que MAS/MENOS noticias han publicado de X Equipo</h4>
            <hr>
            <p-dropdown [options]="data_equipo" optionLabel="name" [(ngModel)]="Seleccionado9"></p-dropdown>
            <button pButton pRipple type="button" label="Mas noticias" class="p-button-success" (click)="get_reporte9()"></button>
            <button pButton pRipple type="button" label="Menos noticias" class="p-button-success" (click)="get_reporte9()"></button>
			<table id="r9">
				<thead>
					<tr>
                        <th>Id</th>
						<th>Nombre</th>
						<th>Apellido</th>
						<th>Nacionalidad</th>
                        <th>Cantidad</th>
					</tr>
				</thead>
				<tbody>
                    <tr *ngFor="let item of data_r9;">
						<td>{{item.id}}</td>
						<td>{{item.name}}</td>
						<td>{{item.lastname}}</td>
                        <td>{{item.nationality}}</td>
                        <td>{{item.count}}</td>
					</tr>
				</tbody>
			</table>
        </div>
    </div>
</div>
